.center
{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 60px;
    
}
.nav
{
    font-family:  'Open Sans', "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
.logo
{
    font-family:  'Open Sans', "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
.minutes
{
    color: black;
    font-size: 22px;
    font-family:'montserrat-bold', sans-serif;
    margin-left:-55%;
    margin-top: 3%;
}
.const
{
    color: black;
    font-size: 22px;
    font-family:'montserrat-bold', sans-serif;
}
@media only screen and (max-width:767px)
{
    .minutes
    {
        margin-left: 0%;
        font-size: 15px;
    }
    .const
{
    color: black;
    font-size: 15px;
    margin-left: 0%;
}
}